
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E5E5E5;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.middle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.settings {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 10px;
    padding: 9px 13px; 
    width: 100%;
    height: 50px; 
    box-sizing: border-box; 
}

a img {
    width: 20px; 
    height: 20px; 
}

a.active {
    font-weight: bold;
    color: #007bff;
    background-color: #F3F7FD;
}
a.active {
    font-weight: bold;
    color: #007bff;
    background-color: #e9f5ff; 
    border-radius: 5px; 
}
